.face{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color:rosybrown;
    border-radius: 150px;
    position: relative;
    left: 200px;
    top: 200px;

}
.earl{
    height: 125px;
    width: 100px;
    border: 2px solid black;
    background-color:rosybrown;
    border-radius: 60px 100px 5px 5px;
    position: absolute;
    top: -20px;
    left: 30px;
    z-index: -1;
}
.ear2{
    height: 125px;
    width: 100px;
    border: 2px solid black;
    background-color: rosybrown;
    border-radius: 120px 80px 5px 5px;
    position: absolute;
    top: -20px;
    left: 160px;
    z-index: -1;
}
.eye1{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    position:absolute;
    top: 75px;
    left: 65px;
}
.innereyel{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
}
.eye2{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50px;
    position:absolute;
    top: 75px;
    left: 180px;
}
.innereyer{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
}
.nose{
    height: 50px;
    width: 120px;
    border: 2px solid black;
    background-color:red;
    border-radius: 30px;
    position: absolute;
    top: 175px;
    left: 90px;
}
.hole1{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.hole2{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 8px;
    left: 75px;
}

